doctype html
html
	head
		title #{title}
		include layouts/header.pug
	body
		h1 Здравствуйте, #{name}
		a(href="/quit") Выйти
		br
		br
		p
			button( id="upload_btn" ) Prompt for File
		p
			label Choose File:
			input(type="file" id="upload_input" multiple="multiple" name="files[]")
		div(id="file_drop" dropzone="copy") Drop File

		div(class="progress")
			div(class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%")
