button{
	cursor: pointer;
}

body, html{
	width: 100%;
	height: 100%;
}
.centered{
	text-align: center;
}

.file-icon{
	margin-top: 10px;
}

.file-card{
	border: none;
}

.flex-centered-content{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body, html{
	height: 100%;
	min-width: 300px;
}
#root{
	height: 100%;
}

.ant-card-actions > li > span a {
    color: white !important;
}